[submodule "zsh/plugins/zsh-z"]
	path = zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/nordtheme-iterm2"]
	path = zsh/plugins/nordtheme-iterm2
	url = https://github.com/nordtheme/iterm2.git
[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
